.cardProduct {
    max-height: 300px;
    max-width: 200px;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

.cardProduct img{
    height: 120px;
    margin-bottom: 10px;
    width: 100%;
}

.cardProduct p{
    font-size: 1rem;
}